body {
    background-color: white;
    color: white;
}
nav {
    padding: 28px 72px 14px 72px;
    background-color: black;
}
nav ul {
    font-family: 'Emeritus Trial';
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    align-items: center;
    font-size: 1.25rem;
}

nav li {
    background-color: black;
    border: 0px blue solid;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}
  
.logo {
    font-family: 'Redaction';
    font-style: italic;
    font-size: 3rem;
}

.box {
    padding: 100px 0 255px 0;
    background-color: black;
}

.container-nav {
    display: grid;
    border: 0px red solid;
    grid-template-columns: repeat(4, 1fr);
    width: 35%;
}

.container-main {
    grid-template-areas:"title image1 image2"
                        "text  image3 image4";
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
    background-color: black;
    padding: 28px 72px 28px 90px;

}

.container-work {
    grid-template-areas:"image5 image6"
                        "image7 image8";
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 160px;
    margin-top: 32px;
    place-items: center;
    border: 0px red solid;
}

.title {
    grid-area: title;
    background-color: black;
    font-family: "Emeritus Trial";
    font-size: 7rem;
}

.brief {
    grid-area: text;
    background-color: black;
    font-family: "Darker Grotesque";
    font-size: 3rem;
    margin-left: 10px;
}

.image-music {
    grid-area: image1;
    background-color: black;
}

.image-sound {
    grid-area: image2;
    background-color: black;
}

.image-ux {
    grid-area: image3;
    background-color: black;
}

.image-installations {
    grid-area: image4;
    background-color: black;
}

.work {
    font-family: "Emeritus Trial";
    font-size: 7rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 28px 72px 28px 90px;
    border: 0px green solid;

}

@media screen and (min-width: 600px) {
    body {
        width: 100%;
        margin: 0 auto;
    }
    .container-nav {
        grid-auto-flow: column;
    }
}

@media screen and (min-width: 900px) {
    .container-main {
      grid-auto-flow: column;
    }
  }