
body{
    background: black;
    border: 1px pink solid;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
nav ul {
    font-family: 'Emeritus Trial';
    list-style-type: none;
    border: 1px blue solid;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
nav li {
    border: 1px green solid;
    justify-content: space-around;
    flex-basis:7%;
    margin: 0;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: rgb(233, 236, 12);
}
.logo{
    font-family: 'Redaction';
    font-style: italic;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}
.section1 {
    display:flex;
    align-items: center;
    margin: 7rem 0 0 0;
    border: 1px green dotted;
}
.name{
    color: #D9D9D9;
    font-family: 'Emeritus Trial';
    font-size: 7rem;
    border: 0px rgb(255, 10, 10) solid;
    padding: 0;
    margin: 0;
}
.description{
    color: #FFF;
    font-family: Darker Grotesque;
    font-weight: lighter;
    font-size: 3rem;
    border: 0px red solid;
    padding: 0;
    margin: 0;
}
.skills-grid{
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 10rem;
    border: 0px orange solid;
    padding: 0;
    margin: 0 0 0 7rem;
}
.grid {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    margin: 0 0 1rem 0;
  }
  .grid > div {
    height: 100px;
    background: red;
    min-width: 10px;
  }
.sound-design{
    margin: 1.75rem 0 0 0;
    padding: 0;
    border: 0px green solid;
}
.section2{
    background: white;
    font-family: "Emeritus Trial";
    color: black;
    margin-top: 15rem;
    border: 0px purple solid;
    padding: 0;
    height: 85rem;
    width: 100%;
}
.work{
    font-size: 7rem;
    padding: 5rem 0 0 5rem;
}
.work-grid{
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 1rem;
    justify-content: center; /* Center horizontally */
    align-items: center;
    padding: 0;
    margin: 0;
}
.more{
    text-align: right;
    border: 0px green solid;
    margin: 4rem 14.5rem 0 10rem;
    font-size: 2rem;
}
footer {
    display: flex;
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 15rem;
    color: white;
    font-family: Darker Grotesque;
    font-size: 3rem;
    margin: 0 0 0 5rem;
  }
